@charset "UTF-8";

body{
    background-color: aqua;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
section{
    background-color: white;
    width: 500px;
    display: block;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.574);
}
p{
     
    padding: 10px;
}
div#res{
    padding: 10px;
}